
<section class="container mx-auto font-sans mt-16">
    <div *ngIf="datoCargado" class="flex flex-wrap justify-center p-8 ">
      <div class=" relative border rounded-lg border-solid border-2 w-72 m-2 h-1/2" *ngFor="let vehiculo of vehiculos">
        <span
          class="absolute inset-x-0 bottom-0 h-2  bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 rounded-b-lg">
        </span>
        <span class="absolute inset-x-0 top-0 h-10  bg-red-600 rounded-t-lg text-white font-bold text-center  "> Oferta
        </span>
  
        <img loading="lazy" alt="Build Your Own Drone" class="object-cover w-full h-56 rounded-t-lg h-2/4"
          src="https://res.cloudinary.com/dyz9b5bfs/image/upload/v1658082493/vehiculos/f3ycdobawsleabafnwhp.jpg" />
        <div class="p-1 text-black rounded-b-lg">
  
          <h5 class="text-md font-bold">{{vehiculo.mac_nombre}}</h5>
          <p class="mt-1 text-xs font-medium text-red-600">{{vehiculo.veh_precio}}$</p>
          <p class="mt-2 text-sm text-gray-500 text-justify h-20 overflow-hidden ">
            {{vehiculo.veh_descripcion}}
          </p>
          <dl class="flex mt-6 justify-between text-center">
            <div class="flex flex-col-reverse">
              <dt class="text-sm font-medium text-gray-600">Año</dt>
              <dd class="text-xs text-gray-500">{{vehiculo.veh_anio}}</dd>
            </div>
  
            <div class="flex flex-col-reverse ml-3 sm:ml-6">
              <dt class="text-sm font-medium text-gray-600">Kilometraje</dt>
              <dd class="text-xs text-gray-500">{{vehiculo.usu_id}}</dd>
            </div>
          </dl>
  
  
          <button name="add" type="button" [routerLink]="['/','getOneVehiculo',vehiculo.veh_id,vehiculo.mac_id,vehiculo.usu_id]"
            class="cursor-pointer flex items-center justify-center w-full px-8 py-4 my-4 rounded-lg bg-teal-600 text-white dark:bg-gray-800 ">
            <span class="text-sm font-medium mx-2">
              Más información
            </span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
            
  
          </button>
        </div>
      </div>
    </div>
   
    <!--
      * esto se carga cuando esta vació la data
    -->
    <div *ngIf="!datoCargado" class="flex flex-wrap justify-center p-8 ">
      <div class=" relative border rounded-lg border-solid border-2 w-72 m-2 h-1/2" >
        <span
          class="absolute inset-x-0 bottom-0 h-2  bg-gray-800 rounded-b-lg">
        </span>
        
  
       <div class="bg-gray-800 w-72 h-56 rounded-t-lg  "></div>
        <div class="p-1 text-black rounded-b-lg">
  
          
          
          <p class="mt-2 text-sm text-gray-500 text-justify h-20 overflow-auto bg-gray-800 rounded-lg">
            
          </p>
          <!-- *Información adicional-->
          <dl class="flex mt-6 justify-between text-center">
            <div class="flex flex-col-reverse bg-gray-800 w-10 h-4 rounded-lg">
            </div>
            <div class="flex flex-col-reverse bg-gray-800 w-10 h-4 rounded-lg">
            </div>
            
          </dl>
  
  <!-- * botón de mas informmación-->
          <button name="add" type="button" 
            class="cursor-pointer flex items-center justify-center w-full px-8 py-4 my-4 rounded-lg bg-teal-600 text-white dark:bg-gray-800 ">
      
          </button>
        </div>
      </div>
      <div class=" relative border rounded-lg border-solid border-2 w-72 m-2 h-1/2" >
        <span
          class="absolute inset-x-0 bottom-0 h-2  bg-gray-800 rounded-b-lg">
        </span>
        
  
       <div class="bg-gray-800 w-72 h-56 rounded-t-lg  "></div>
        <div class="p-1 text-black rounded-b-lg">
  
          
          
          <p class="mt-2 text-sm text-gray-500 text-justify h-20 overflow-auto bg-gray-800 rounded-lg">
            
          </p>
          <!-- *Información adicional-->
          <dl class="flex mt-6 justify-between text-center">
            <div class="flex flex-col-reverse bg-gray-800 w-10 h-4 rounded-lg">
            </div>
            <div class="flex flex-col-reverse bg-gray-800 w-10 h-4 rounded-lg">
            </div>
            
          </dl>
  
  <!-- * botón de mas informmación-->
          <button name="add" type="button" 
            class="cursor-pointer flex items-center justify-center w-full px-8 py-4 my-4 rounded-lg bg-teal-600 text-white dark:bg-gray-800 ">
      
          </button>
        </div>
      </div>
      <div class=" relative border rounded-lg border-solid border-2 w-72 m-2 h-1/2" >
        <span
          class="absolute inset-x-0 bottom-0 h-2  bg-gray-800 rounded-b-lg">
        </span>
        
  
       <div class="bg-gray-800 w-72 h-56 rounded-t-lg  "></div>
        <div class="p-1 text-black rounded-b-lg">
  
          
          
          <p class="mt-2 text-sm text-gray-500 text-justify h-20 overflow-auto bg-gray-800 rounded-lg">
            
          </p>
          <!-- *Información adicional-->
          <dl class="flex mt-6 justify-between text-center">
            <div class="flex flex-col-reverse bg-gray-800 w-10 h-4 rounded-lg">
            </div>
            <div class="flex flex-col-reverse bg-gray-800 w-10 h-4 rounded-lg">
            </div>
            
          </dl>
  
  <!-- * botón de mas informmación-->
          <button name="add" type="button" 
            class="cursor-pointer flex items-center justify-center w-full px-8 py-4 my-4 rounded-lg bg-teal-600 text-white dark:bg-gray-800 ">
      
          </button>
        </div>
      </div>
      <div class=" relative border rounded-lg border-solid border-2 w-72 m-2 h-1/2" >
        <span
          class="absolute inset-x-0 bottom-0 h-2  bg-gray-800 rounded-b-lg">
        </span>
        
  
       <div class="bg-gray-800 w-72 h-56 rounded-t-lg  "></div>
        <div class="p-1 text-black rounded-b-lg">
  
          
          
          <p class="mt-2 text-sm text-gray-500 text-justify h-20 overflow-auto bg-gray-800 rounded-lg">
            
          </p>
          <!-- *Información adicional-->
          <dl class="flex mt-6 justify-between text-center">
            <div class="flex flex-col-reverse bg-gray-800 w-10 h-4 rounded-lg">
            </div>
            <div class="flex flex-col-reverse bg-gray-800 w-10 h-4 rounded-lg">
            </div>
            
          </dl>
  
  <!-- * botón de mas informmación-->
          <button name="add" type="button" 
            class="cursor-pointer flex items-center justify-center w-full px-8 py-4 my-4 rounded-lg bg-teal-600 text-white dark:bg-gray-800 ">
      
          </button>
        </div>
      </div>
    </div>
  </section>
  